body {
    background-color: #1F2937;
}

.header-container {
    display: flex;
    flex: auto;
    align-items: center;
    flex-direction: column;
}

.inner-header {
    display: flex;
    flex: auto;
    width: 70%;
    height: 60px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navigation {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.header-links ul {
    display: flex;
    flex-direction: row;
}

.header-links .headerl1 {
    display: flex;
    margin: 0 15px 0 15px;
}

.header-links .headerl2 {
    display: flex;
    margin: 0 15px 0 15px;
}

.header-links .headerl3 {
    display: flex;
    margin: 0 15px 0 15px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tiles {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.tile1 {
    display: flex;
    width: 100%;
    color: #1F2937;
    align-items: center;
    justify-content: center;
}

.tilebox1 {
    display: flex;
    width: 70%;
    height: 450px;
    align-items: center;
    justify-content: flex-start;
}

.left-side {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: auto;
    align-items: center;
    justify-content: flex-start;
}

.hero-text {
    display: flex;
    flex-wrap: wrap;
}

.subtext {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    display: flex;
    background-color: #3882F6;
    border: none;
    color: #f9f9f9;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    margin-top: auto;
}

.right-side {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.placeholder {
    display: flex;
    height: 240px;
    width: 550px;
    align-content: center;
    justify-content: center;
}

.placeholder p {
    display: flex;
    align-items: center;
    justify-content: center;
}


.tile2 {
    display: flex;
    flex: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.tilebox2 {
    display: flex;
    height: 400px;
    width: 70%;
    border: 1px solid #ffffff;
    align-items: center;
    justify-content: center;
    
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 150px;
    margin: 0 15px 10px 15px;
    align-items: center;
    justify-content: center;
}

.infobox {
    display: flex;
}

.boxsubtext {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 150px;
}


.tile3 {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tilebox3 {
    display: flex;
    height: 350px;
    width: 70%;
    border: 1px solid #ffffff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quote {
    display: flex;
    width: 700px;
    flex-wrap: wrap;

}

.attribution {
    display: flex;
    justify-content: flex-end;
}

.tile4 {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tilebox4 {
    display: flex;
    height: 300px;
    width: 70%;
    border: 1px solid #ffffff;
}

.footer {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
}

.footer-box {
    display: flex;
    width: 70%;
    border: 1px solid #fff;
}