body {
    background-color: #1F2937;
}

.header-container {
    color:#1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo h1{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

.tile1 {
    color: #1F2937;
}

.tilebox1 {

}

.tile2 {
    background-color: #f9faf8;
}