* {
    font-family: Roboto;
}


body {
    background-color: #1F2937;
}

.header-container {
    color:#1F2937;
    font-family: Roboto;
}

.logo h1{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

.tile1 {
    background-color: #1F2937;
}

.hero-text {
    color: #f9faf8;
    font-family: Roboto;
    font-weight: 900;
    font-size: 48px;
}

.subtext {
    color: #E5E7EB;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 350;
}

.tile2 {
    background-color: #f9faf8;
}

.tile3 {
    background-color: #E5E7EB;
}

.tile4 {
    background-color: #f9faf8;
}

.footer {
    background-color: #1F2937;
}

.placeholder {
    background-color: #6E747C;
    color: #E5E7EB;
    font-family: Roboto;
}
