body {
    background-color: #1F2937;
}

.header-container {
    color:#1F2937;
    font-family: Roboto;
}

.logo h1{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

.tile1 {
    background-color: #1F2937;
}

.hero-text {
    color: #f9faf8;
    font-family: Roboto;
    font-weight: 900;
    font-size: 48px;
}

.subtext {
    color: #E5E7EB;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 350;
}

.placeholder {
    background-color: #6E747C;
    color: #E5E7EB;
    font-family: Roboto;
}


.tile2 {
    background-color: #f9faf8;

}

.information-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    font-family: Roboto;
}

.infobox {
    border: 4px solid;
    border-color: #3882f6;
    border-radius: 18px;
    height: 150px;
    width: 150px;
    margin: 15px;
}

.boxsubtext {
    color: #1f2937;
    font-family: Roboto;
    text-align: center;
}

.tile3 {
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.quote p {
    font-family: Roboto;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.tile4 {
    background-color: #f9faf8;
}

.footer {
    background-color: #1F2937;
}
